In [1]:
import pandas as pd

# Загрузка данных
data = pd.read_csv('C:/Users/lucky/Documents/University/7s semestr/big data/github/big-data/Auto_dataset.csv')

# Вывод первых пять строк
print(data.head())

# Вывод последних пять строк
print(data.tail())

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

In [2]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

# Загрузка данных
data = pd.read_csv('C:/Users/lucky/Documents/University/7s semestr/big data/github/big-data/Auto_dataset.csv')

# Замена ? и n.a на NaN
data.replace(['?', 'n.a'], pd.NA, inplace=True)

# Заполнение пропущенных значений (NaN)
data.fillna(method ='ffill', inplace = True)

# Сохранение обновленного файла
data.to_csv('C:/Users/lucky/Documents/University/7s semestr/big data/github/big-data/Auto_dataset.csv', index=False)

In [3]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

# Загрузка данных
data = pd.read_csv('C:/Users/lucky/Documents/University/7s semestr/big data/github/big-data/Auto_dataset.csv')

# Находим компанию с самой высокой и низкой ценой
most_expensive = data.loc[data['price'].idxmax()]['company']
least_expensive = data.loc[data['price'].idxmin()]['company']

print(f'Most Expensive: {most_expensive}')
print(f'Least Expensive: {least_expensive}')

Most Expensive: mercedes-benz
Least Expensive: chevrolet

In [4]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

# Загрузка данных
data = pd.read_csv('C:/Users/lucky/Documents/University/7s semestr/big data/github/big-data/Auto_dataset.csv')

bmw_data = data[data['company'] == 'bmw']
print(bmw_data)

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
7       9     bmw      sedan       101.2   176.8         ohc             four
8      10     bmw      sedan       101.2   176.8         ohc             four
9      11     bmw      sedan       101.2   176.8         ohc              six
10     13     bmw      sedan       103.5   189.0         ohc              six
11     14     bmw      sedan       103.5   193.8         ohc              six
12     15     bmw      sedan       110.0   197.0         ohc              six

    horsepower  average-mileage    price
7          101               23  16430.0
8          101               23  16925.0
9          121               21  20970.0
10         182               16  30760.0
11         182               16  41315.0
12         182               15  36880.0

In [5]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

# Загрузка данных
data = pd.read_csv('C:/Users/lucky/Documents/University/7s semestr/big data/github/big-data/Auto_dataset.csv')

car_count_per_company = data['company'].value_counts()
print(car_count_per_company)

company
toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
isuzu            3
jaguar           3
porsche          3
dodge            2
volvo            2
Name: count, dtype: int64

In [6]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

# Загрузка данных
data = pd.read_csv('C:/Users/lucky/Documents/University/7s semestr/big data/github/big-data/Auto_dataset.csv')

expensive_car_per_company = data.loc[data.groupby('company')['price'].idxmax()]
print(expensive_car_per_company)

    index        company   body-style  wheel-base  length engine-type  \
1       1    alfa-romero  convertible        88.6   168.8        dohc
6       6           audi        wagon       105.8   192.7         ohc
11     14            bmw        sedan       103.5   193.8         ohc
15     18      chevrolet        sedan        94.5   158.8         ohc
16     19          dodge    hatchback        93.7   157.3         ohc
19     28          honda        sedan        96.5   175.4         ohc
21     30          isuzu        sedan        94.3   170.7         ohc
26     35         jaguar        sedan       102.0   191.7        ohcv
31     43          mazda        sedan       104.9   175.0         ohc
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
39     52     mitsubishi        sedan        96.3   172.4         ohc
44     57         nissan        sedan       100.4   184.6        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
54     79         toyota        wagon       104.5   187.8        dohc
58     86     volkswagen        sedan        97.3   171.7         ohc
60     88          volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
1              four         111               21  16500.0
6              five         110               19  18920.0
11              six         182               16  41315.0
15             four          70               38   6575.0
16             four          68               31   6377.0
19             four         101               24  12945.0
21             four          78               24   6785.0
26           twelve         262               13  36000.0
31             four          72               31  18344.0
35            eight         184               14  45400.0
39             four          88               25   8189.0
44              six         152               19  13499.0
46              six         207               17  37028.0
54              six         156               19  15750.0
58             four         100               26   9995.0
60             four         114               23  13415.0

In [7]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

# Загрузка данных
data = pd.read_csv('C:/Users/lucky/Documents/University/7s semestr/big data/github/big-data/Auto_dataset.csv')

average_mileage_per_company = data.groupby('company')['wheel-base'].mean()
print(average_mileage_per_company)

company
alfa-romero       90.566667
audi             101.200000
bmw              103.433333
chevrolet         92.466667
dodge             93.700000
honda             96.500000
isuzu             94.433333
jaguar           109.333333
mazda             95.900000
mercedes-benz    113.225000
mitsubishi        95.000000
nissan            95.680000
porsche           92.466667
toyota            96.957143
volkswagen        97.300000
volvo            104.300000
Name: wheel-base, dtype: float64

In [8]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

# Загрузка данных
data = pd.read_csv('C:/Users/lucky/Documents/University/7s semestr/big data/github/big-data/Auto_dataset.csv')

sorted_data = data.sort_values(by='price', ascending=False)
print(sorted_data)

    index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
11     14            bmw        sedan       103.5   193.8         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
47     63        porsche    hatchback        98.4   175.7       dohcv
..    ...            ...          ...         ...     ...         ...
28     37          mazda    hatchback        93.1   159.1         ohc
36     49     mitsubishi    hatchback        93.7   157.3         ohc
48     66         toyota    hatchback        95.7   158.7         ohc
27     36          mazda    hatchback        93.1   159.1         ohc
13     16      chevrolet    hatchback        88.4   141.1           l

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
11              six         182               16  41315.0
34            eight         184               14  40960.0
46              six         207               17  37028.0
47            eight         288               17  37028.0
..              ...         ...              ...      ...
28             four          68               31   6095.0
36             four          68               37   5389.0
48             four          62               35   5348.0
27             four          68               30   5195.0
13            three          48               47   5151.0

[61 rows x 10 columns]